
body,html {
    background: linear-gradient(
        to right,
        rgba(0, 140, 140, 0.5), 
        rgba(255, 255, 255, 0.5), 
        rgba(255, 35, 35, 0.5)  
    );
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 0; 
    padding: 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif; 
}

.conteiner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    color: #4CAF50; 
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #ffffff;  
    border-bottom: 2px solid #28a745;  
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navbar-brand {
    color: #28a745;  
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: auto; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}

.navbar-nav .nav-link {
    color: #6c757d;  
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #28a745;  
}

.nav-item.active .nav-link {
    color: #28a745;  
    font-weight: bold;
    border-bottom: 2px solid #28a745;  
}

.navbar-toggler {
    border-color: #28a745;  
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2828, 167, 69, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #4CAF50; 
    border: none;
}

.footer {
    background-color: #008C8C;
    color: white;
    padding: 20px 0;
    text-align: center;
}
